### Reading and Summarizing Data

In [2]:
#importing library
import pandas as pd

In [4]:
df = pd.read_csv('D:/NLP/eda/amazon_alexa.tsv', delimiter='\t')

In [5]:
#checking shape
df.shape

(3150, 5)

In [6]:
#check head in the data set
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [8]:
#check missing value in data
df.isnull().sum()

rating              0
date                0
variation           0
verified_reviews    0
feedback            0
dtype: int64

In [11]:
#decriptive summry of the data set
df.describe(include='object')

             date   variation verified_reviews
count        3150        3150             3150
unique         77          16             2301
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [12]:
df['variation'].value_counts()

Black  Dot                      516
Charcoal Fabric                 430
Configuration: Fire TV Stick    350
Black  Plus                     270
Black  Show                     265
Black                           261
Black  Spot                     241
White  Dot                      184
Heather Gray Fabric             157
White  Spot                     109
White                            91
Sandstone Fabric                 90
White  Show                      85
White  Plus                      78
Oak Finish                       14
Walnut Finish                     9
Name: variation, dtype: int64

### Finding The length, Polarity and Subjectivity

In [13]:
#lets caluclate the length of the reviews
df['length']=df['verified_reviews'].apply(len)

In [ ]:
#finding the sentiment of review